<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.developer.jyong.ctrlweb.mapper.UserMapper">

    <select id="findUserById" parameterType="int"
            resultType="com.developer.jyong.ctrlweb.pojo.User">
        SELECT * FROM tb_user where id = #{id} ;
    </select>


    <select id="findUserByMail" parameterType="String"
            resultType="com.developer.jyong.ctrlweb.pojo.User">
        SELECT * FROM tb_user WHERE mail = #{mail} ;
    </select>
</mapper>